footer{
    background-color: $Primary-color;
    color: $Neutral-blue;
    text-align: left;
    width: 100%;

    .wrapper{
        text-align: left;
        padding: 2.5rem 1.5rem;
    }

    .footer-contact{
        img{
            padding: 1rem 0;
        }
        p{
            line-height: 2rem;

            
            &::before{
                content: url(../images/icon-phone.svg);
                padding-right: 1rem;
            }
            &:last-child::before{
                content: url(../images/icon-email.svg);
            }
        }
        
    }
    ul{
        margin: 2.5rem 0;
    
        & li{
            line-height: 2rem;

            a{
                text-decoration: none;
                color: $Neutral-blue
                
            }
            a:hover{
                color: $Primary-accent;
            }

        }
    }

    .social-icons{
        color: $Neutral-blue;
        text-align: center;

        div{
            color: $Neutral-blue;
            border: .1rem solid $Neutral-blue;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
            margin-right: .75rem;
            display: inline-block;

            .fa-twitter, .fa-facebook-f, .fa-instagram{
                font-size: .8rem;
                text-align: left;
                vertical-align: middle;
            }
            &:hover{
                color: $Primary-accent;
                border-color: $Primary-accent;
            }
        }
    }
}
