header{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.5%;

    .header-logo{
        height: 30%;
        width: 30%;
        max-width: 10rem;
    }

    ul{
        display: flex;

        a{
            color: $Primary-color;
            text-decoration: none;
            margin: 1rem 0 0 1.25rem;
            font-family: $Font-raleway;
            font-weight: 700;

            &:hover{
                color: $Primary-accent;
            }
        }
    }
}