header{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo{
        height: 30%;
        width: 30%;
    }

    ul{
        list-style-type: none;
        display: flex;

        a{
            color: $Primary-color;
            text-decoration: none;
            margin: 1rem 0 0 1rem;
            font-family: $Font-raleway;
            font-weight: 700;
        }
    }
}